@import "variables";

body {
	background: $body-background;
}


article {
	margin-bottom: 1.625em;
	.featured-thumbnail {
		margin-bottom: 1.625em;
	}
	h1, .h1, .hh { }
	h2, .h2 { }
	h3, .h3 { }
	h4, .h4 { }
	h5, .h5 { }
	h6, .h6 { }
  
	@media only screen and (min-width: 40.063em) {
	  	
	  	.hh { }
		h1, .h1 { margin-bottom: .1rem; }
		h2, .h2 { margin-top: 2.6rem; }
		h3, .h3 { margin-top: 2.8rem; }
		h4, .h4 { margin-top: 3rem; }
		h5, .h5 { margin-top: 3rem; }
		h6, .h6 { margin-top: 3rem; } 
	} 
}

#content {padding-top: 2.7em;}


// Post List
.post-single {
	position: relative;
	margin-bottom: 1.6em !important;
	.postInfo {
		background: $gray-light;
		position: relative;
		bottom: 0;
		color: $black;
		padding-bottom:  .9375em;
		padding-top:  .9375em;
		border-bottom: 2px solid #ccc;
		.date {
			color: $black;
		}
		.post-excerpt a, .post-excerpt p {
			color: $black;
			font-style: normal !important;
		}
		.read-more {
			color: $primary !important;
			&:hover {color: $primary-dark !important}
		}
		h2 {
			color: $black;
		}
		p {
			margin-bottom: 0;
			font-style: italic;
			font-size: .8125;
		}
	}
}

@media only screen and (min-width: 40.063em) {

}

// Posts 
.post-date {font-style: italic;}
.newer-older { p {margin-bottom: 0;}}


// Comments
#comments {
	h5 {
		margin-bottom: .8125em;
	}
	textarea {
		width: 100%;
		height: 80px;
	}
	.will-not {
		font-size: 0.889em;
		font-style: italic;
	}
	input[type="text"] {
		width: 100%;
	}
	p {
		margin-bottom: .8125em;
	}
	ol {
		margin: 0;
		list-style: none;
	}
	.comment {
		padding: 1.625rem;
		background: $gray-light;
		margin-bottom: 1.625rem;
		.thanks {
			color: $secondary;
			border: 2px solid #809DAE;
			padding: .8125em;
			width: 100%;
			float: left;
			margin-bottom: 1.625em;
			}
		.name { margin-bottom: 0; margin-top: 6px; display: block; }
		.gravatar {float: left; margin-right: .8125rem;}
		.comment-meta {float: left; width: 100%}
		.comment-text {
			padding-left: 3em;
			p {
				float: left; 
				width: 100%; 
			}
		}
	}
}

// Home Page


.home-hero {
	background: $primary;
	h2, h6 {color: $white;}
	.button { margin-top: 1.6rem;}
}
.slide {
	p {
		display: block; 
		padding-bottom: 1.625em; 
		margin: 0 auto; 
		width: 85%;
		max-width: 700px;
	}
	&.gray-slide {background: $gray-light;}
}


// Download

// Listing tile
.post-type-archive-download {
	h1 {
		margin-bottom: 1.625rem;
	}
}

.download-tile {
	background: $body-background;
	transition: background 300ms ease;
	padding: 0.625rem !important;
	margin-bottom: 0.625rem !important;
	&:hover {background: $gray-light;}
	.name {
		margin-top: 0.625rem;
		text-align: center;
	}
	.game {
		font-family: $body-font;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.625;
		margin-bottom: 0;
		text-transform: inherit !important;
		height: 52px;
		overflow: hidden;
		text-align: center;
	}
}

//Download single page
.download-title {
	padding-top: 2.7em;
}
.coming-soon {
	height: 380px !important;
	text-align: center;
	padding: 0.9375em;
	h4 {
		margin-top: 30%;
	}
}
.download-content {padding-top: 2.7em;}
.download-image {
	padding-top: 0;
	position: relative;
	.view-btn {
		display: none;
	}
	.featured-thumbnail {
		position: relative;
	}
	.model {
		position: relative;
		top: 0;
		left: 0;
		width: 95%;
		margin-left: 0.9375em;
		margin-right: 0.9375em;
		background: $body-background;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38383f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		div {
			margin: 0 auto;
			canvas {
				border: none !important;
			}
		}
	}
}
.featured-thumbnail {display: block;}
.model {display: none;}


@media only screen and (min-width: 40.063em) {
	.view-btn {
// 		display: inherit !important;
		position: absolute;
		top: 56px;
		left: 27px;
	}
	.download-image {
		padding-top: 2.7em;
	}
	.download-content {
		padding-top: 0;
	}
}










