
// Colors
$black: #222;
$gray-darkest: #333;
$gray-dark: #555;
$gray-medium: #999;
$gray: #ccc;
$gray-light: #f2f2f2;
$white: #fff;
$primary: #ef4c22;
$primary-dark: #cc350f;
$secondary: #809dae;
$secondary-dark: #567889;

$body-background: #fdfdfd;